<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Poller</title>
    <script>
        localStorage.setItem("token", accessToken)
        localStorage.setItem("scope", scope)
    </script>
</head>
<body>
    Index.html
</body>
</html>